/*form stuff for the login form*/	


.formTextHeadingWrong {
	font-family: courier;
	font-size:250%;
	color:#CC0000;
}
	
.loginHeaderText h1 {
	font-family: Times New Roman;
	font-size:500%;
	color:#31B404;	
}
/*leaf at login page*/
.loginHeaderImage {
    width: 100px;
    height: 100px;
    animation-name: leaf;
    animation-duration: 4s;
  }

@keyframes leaf
    {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }  

/*gray login form page*/
.loginHeaderDiv {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.loginDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;	
}

.formDiv{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 35%;
    margin: 0;
    background-color: dimgray;
    border-radius: 25px;
    border: solid 2px black;
}
.formDiv h2{
    font-size: 50px;
    margin: 30px 0px 20px 0px;
}

.formDiv label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
}

.formDiv input{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid black;
}

#loginSubmitButton {
	position: relative;
	text-align: left;
	background-color: #31B404; 
  	color: white;
  	padding: 15px 35px;
  	margin: 35px 0px 30px 0px;
  	font-size: 15px;
  	border-radius: 25px;
  	border: 2px solid #0469e3;
    transition: .7s;
}


#loginSubmitButton:hover {
	color: white;
	background-color: #0469e3;
}

.falseLoginMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.falseLoginMessage p {
    color: red;
    display: flex;
    font-size: 50px;
    width: 100%;
    justify-content: center;
    animation-name: growAndBack;
    animation-duration: 3s;
}

@keyframes growAndBack
    {
        0% {transform: scale(0);}
        50%{transform: scale(2);}
        100% {transform: scale(1);}
    }  

.backToLogin a {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}