
body{
    font-family: Arial, sans-serif;
    background-color: seagreen;
    margin: 0;
    padding: 0;
}
p {
    font-size:100%;
    color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.list h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
