
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    margin: 0;
    padding: 0;
    width: 95%;
}
p {
    font-size:100%;
    color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    font-size: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 90px;
}

#group-of-lists{
    width: 100%;
    padding: 0;
}

.to-hide{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 30px;
    padding: 0;
}
.heading-and-buttons {
    display: flex;
    align-items: start; /* Aligns items at the start of the container */
    justify-content: space-between;
    width: 100%;
  }


.move-list {
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    padding-top: 30px; /* Adds some space above the buttons */
    margin-right: 10px; /* Adds some space between the heading and the buttons */
  }

  .heading-and-buttons> div > button:nth-of-type(1), .heading-and-buttons > div > button:nth-of-type(2) {
    background-image: url('up-arrow.png');
    width: 50px; 
    height: 50px;
    background-size: cover;
    margin-bottom: 18px; /* Adds some space between the buttons */
    border: none; /* Removes the border */
    background-color: transparent; /* Removes the background color */
    
}

.heading-and-buttons > div > button:nth-of-type(2){ 
    transform: rotate(180deg);
}

.heading-and-buttons > div > button:nth-of-type(1):hover, .heading-and-buttons > div > button:nth-of-type(2):hover {
    background-image: url('up-arrow-blue.webp');
}
    
.to-hide ul{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.to-hide li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 30px;
    width: 90%;
    height: 25;
    font-size: 3em;
    border: none;
    flex-wrap: nowrap;
    
}

.list-checkbox{
    width: 5em;
    height: 5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
}

.list-checkbox:checked{
    background-color: #0469e3;
}

.uncheck-all-button{
    display:inline-flex;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 55px;
    padding: 15px 20px;
    font-size: 18px;
}

.invisible {
    display: none;
  }
  
.visible {
    display: inline-flex;
  }


.remove-item-button{
    display:inline-flex;
    background-color: white;
    border: 1px solid #ddd;
    font-size: 25px;
    border-radius: 25%;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}

.heading{
    padding: 0;
}

.heading{
    display: block;
    font-size: 60px;
    margin: 30px 0px 20px 0px;
    border: 2px solid black;
    border-radius: 45px;
    padding: 20px 30px;
    cursor: pointer;
    margin-left: 8%;
    background-color: transparent;

}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    padding: 0;
}

.category_actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 0 50px 0;
}

.error-message{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 200px;
    margin-left: -125;
    font-size: 2em;
    padding: 0;
    color: red;
}

@keyframes growAndBack
    {
        0% {transform: scale(0);}
        50%{transform: scale(2);}
        100% {transform: scale(1);}
    }  



.add-item-textbox{
    height:75px;
    font-size:26pt;
    border-radius: 10px;
}

.add-item-button{
    display:inline-flex;
    background-color: #4169E1;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    padding: 20px 50px;
    font-size: 25px;
}

.add-item-button:hover{
    background-color: #0469e3;
}

.category_actions input{
    height:75px;
    font-size:26pt;
    border-radius: 10px;
}

.category_actions button{
    display:inline-flex;
    background-color: #31B404;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    padding: 20px 50px;
    font-size: 25px;
}

.category_actions button:hover{
    background-color: #0469e3;
}

.category_actions select{
    height:75px;
    font-size:26pt;
    border-radius: 10px;
    margin-right: 50px;
}



.hidden {
    display: none;
}
